[submodule ".registry"]
	path = .registry
	url = https://github.com/ffverse/universe
	branch = HEAD
[submodule "ffscrapr"]
	path = ffscrapr
	url = https://github.com/ffverse/ffscrapr
	branch = main
[submodule "ffpros"]
	path = ffpros
	url = https://github.com/ffverse/ffpros
	branch = main
[submodule "ffsimulator"]
	path = ffsimulator
	url = https://github.com/ffverse/ffsimulator
	branch = main
[submodule "ffopportunity"]
	path = ffopportunity
	url = https://github.com/ffverse/ffopportunity
	branch = main
